.orange {
  background-color: orange;
}
.green-opacity {
  background-color: rgb(105, 199, 160);
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
}
